#dynamicContainer {
  min-height: calc(100vh - 56px);
  // margin-top: 65px;
}

.experience-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Number of lines you want to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em;
  /* Controls how much content is visible before truncation */
}

.pr-card-ds {
  width: 250px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;

}

.pr-card-ds:hover {
  transform: scale(1.05, 1.05);
}

.pr-active-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slide-in 500ms ease-out;
  cursor: pointer;
}

@keyframes slide-in {
  0% {
    transform: scale(-1, -1);
    opacity: 0;
  }

  100% {
    // transform: translateX(0);
    opacity: 1;
  }
}