<div class="container-lg d-flex" id="dynamicContainer">
  <div class="row d-flex align-items-center text-center">
    <div class="col-md-6 col-sm-12">
      <img src="image/profile.jpeg" class="img-thumbnail animateimg rounded-circle w-50 h-50 ratio-16x9 p-sm-1"
        alt="my profile image">
    </div>
    <div class="col-md-6 col-sm-12 animatetext">
      <h1>Hi!</h1>
      <p>
        Am Manikandan Janakiraman. As a results-oriented Full Stack Web Developer, I bring a versatile skill set
        to the table. Proficient in MySQL
        for database management, I specialize in designing and implementing robust backend solutions using .NET Web API
        and .NET
        Core Web API. My expertise extends to creating seamless and engaging user interfaces using Angular and React for
        front-end development.

        I thrive in dynamic development environments and continuously seek ways to optimize processes and enhance user
        experiences. My commitment to staying current with industry trends is complemented by a solid foundation in
        tools like
        Figma, enabling effective collaboration in the design and development phases.
      </p>
    </div>
  </div>
</div>