<div class="container-lg d-flex" id="dynamicContainer">
  <div class="row d-flex align-items-center text-center">
    <div class="col-md-6 col-sm-12">
      <img src="image/profile.jpeg" class="img-thumbnail animateimg rounded-circle w-50 h-50 ratio-16x9 p-sm-1"
        alt="my profile image">
    </div>
    <div class="col-md-6 col-sm-12 animatetext">
      <h1>Hi!</h1>
      <p>
        Am Manikandan Janakiraman. As a results-driven Full Stack Web Developer, I bring a broad skill set that spans
        both front-end and back-end
        development. I have a strong command of front-end technologies such as Angular, JavaScript, and Bootstrap, where
        I focus
        on crafting seamless and responsive user interfaces. Complementing my front-end expertise, I also specialize in
        backend
        development, leveraging MySQL for efficient database management and designing robust APIs using .NET Web API and
        .NET
        Core Web API.</p>
      <br>
      <p>
        My approach to development is centered on optimizing processes, enhancing user experiences, and keeping pace
        with the
        latest industry trends. Collaboration is a key part of my workflow, and I have experience using Figma to bridge
        the gap
        between design and development for more cohesive project execution.
      </p>
    </div>
  </div>
</div>